In [65]:
import pandas as pd
import os

In [66]:
os.getcwd()

'/Users/oscarsanchez'

In [67]:
pwd

'/Users/oscarsanchez'

In [68]:
df = pd.read_csv('/Users/oscarsanchez/PYTHON/MLApprentice/pythonA-Z/S6-Movie-Ratings.csv')

In [69]:
df.shape

(559, 6)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Film                       559 non-null    object
 1   Genre                      559 non-null    object
 2   Rotten Tomatoes Ratings %  559 non-null    int64
 3   Audience Ratings %         559 non-null    int64
 4   Budget (million $)         559 non-null    int64
 5   Year of release            559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [71]:
df.describe()

,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
count,559.000000,559.000000,559.000000,559.000000
mean,47.309481,58.744186,50.236136,2009.152057
std,26.413091,16.826887,48.731817,1.362632
min,0.000000,0.000000,0.000000,2007.000000
25%,25.000000,47.000000,20.000000,2008.000000
50%,46.000000,58.000000,35.000000,2009.000000
75%,70.000000,72.000000,65.000000,2010.000000
max,97.000000,96.000000,300.000000,2011.000000

In [72]:
#fix column heading to keep CamelCase
cap_columns = []
for column in df.columns:
  parts = column.split(' ')
  cap_parts = [part.capitalize() for part in parts]
  cleaned = ''.join(cap_parts)
  cap_columns.append(cleaned)
df.columns = cap_columns

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Film                    559 non-null    object
 1   Genre                   559 non-null    object
 2   RottenTomatoesRatings%  559 non-null    int64
 3   AudienceRatings%        559 non-null    int64
 4   Budget(million$)        559 non-null    int64
 5   YearOfRelease           559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [74]:
df.head()

,Film,Genre,RottenTomatoesRatings%,AudienceRatings%,Budget(million$),YearOfRelease
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [75]:
df['YearOfRelease'] = df['YearOfRelease'].astype('category')
df['Film'] = df['Film'].astype('category')
df['Genre'] = df['Genre'].astype('category')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Film                    559 non-null    category
 1   Genre                   559 non-null    category
 2   RottenTomatoesRatings%  559 non-null    int64
 3   AudienceRatings%        559 non-null    int64
 4   Budget(million$)        559 non-null    int64
 5   YearOfRelease           559 non-null    category
dtypes: category(3), int64(3)
memory usage: 36.5 KB

In [77]:
df.head()

,Film,Genre,RottenTomatoesRatings%,AudienceRatings%,Budget(million$),YearOfRelease
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [78]:
type(df['YearOfRelease'][0])

numpy.int64

In [79]:
df.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [80]:
df.describe()

       RottenTomatoesRatings%  AudienceRatings%  Budget(million$)
count              559.000000        559.000000        559.000000
mean                47.309481         58.744186         50.236136
std                 26.413091         16.826887         48.731817
min                  0.000000          0.000000          0.000000
25%                 25.000000         47.000000         20.000000
50%                 46.000000         58.000000         35.000000
75%                 70.000000         72.000000         65.000000
max                 97.000000         96.000000        300.000000